# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auctiondb?schema=public"

# JSON Web Token Configuration (Generate secure keys via: openssl rand -hex 32)
JWT_SECRET="replace_with_openssl_rand_hex_32"
JWT_REFRESH_SECRET="replace_with_openssl_rand_hex_32"

# Port configuration
PORT=4000

# Cors allowed origin matching local frontend
CORS_ORIGIN="http://localhost:3000"
